<!-- Material form subscription -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong><?= __('lng.lbphone','Unknow')?></strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5">

        <!-- Form -->
        <form class="text-center" style="color: #757575;">

           
            <div class="md-form mt-3">
                <input type="text" id="materialFormMarca" class="form-control">
                <label for="materialFormMarca"><?= __('lng.lbmark','Unknow')?></label>
            </div>

           
            <div class="md-form">
                <input type="text" id="materialFormPrice" class="form-control">
                <label for="materialFormPrice"><?= __('lng.lbprice','Unknow')?></label>   
            </div>

             <div class="md-form mt-3">
                <input type="text" id="materialFormTama" class="form-control">
                <label for="materialFormTama"><?= __('lng.lbsize','Unknow')?></label>
            </div>

            

            <div class="md-form mt-3">
                <input type="text" id="materialFormModel" class="form-control">
                <label for="materialFormModel"><?= __('lng.lbmodel','Unknow')?></label>
            </div>            
            
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit"><?= __('lng.lbbutton2','Unknow')?></button>

        </form>
        

    </div>

</div>
