

<div class="table-wrapper-scroll-y">

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><?= __('lng.lbmark','Unknow')?></th>
        <th scope="col"><?= __('lng.lbprice','Unknow')?></th>
        <th scope="col"><?= __('lng.lbsize','Unknow')?></th>
        <th scope="col"><?= __('lng.lbmodel','Unknow')?></th>
      </tr>
    </thead>

    <tbody>
     <tr>
      <th scope="row">1</th>
      <td>Huawei</td>
      <td>$220</td>
      
      <td><?= __('lng.lbinches','Unknow')?></td>
      <td>Huawei P20</td>
      
    </tr>
       </tbody>
  </table>