<!-- <ul>


<li><a href="btn btn-primary"><?=__('lng.test', 'default value')?></a>1</li>
<li> <a href="#">=__('lng.test', 'default value')?></a> 2</li>

<li> <a href="#">=__('lng.test', 'default value')?></a> 3</li>

<li> <a href="#">=__('lng.test', 'default value')?></a> 4</li>
<li> <a href="#">=__('lng.test', 'default value')?></a> 5</li>
<li> <a href="#">=__('lng.test', 'default value')?></a> 6</li>
<li> <a href="#">=__('lng.test', 'default value')?></a> 7</li>

	
<li> <a href="#">=__('lng.test', 'default value')?></a> 6</li>


</ul> -->